.evolucionCompu{
    width: 700px;
    height: 350px;
    margin: 20px;
    margin-bottom: 30px;
}
.rightc{
    margin: 20px;
    padding: 20px;
  
  }
  .leftc{
    padding: 20px;
    margin: 20px;
  }